@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* デフォルトでついている余白削除 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* グラデーション */
    background: linear-gradient(rgb(64, 119, 186),rgb(4, 16, 72));
    height:100%;
    width:100%;
    margin-left: 1vw;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1vw 1vh;
    color: rgb(255, 255, 255);
}

.container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 3rem;
    margin-bottom: 15vh;
}

.content {
    /* position: relative; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image0 {
    position: relative;
    margin-left: 5vw;
    width: 70vw;
    height: 60vh;
    overflow: hidden;
}

.content .image0 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

.content .text-box {
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    /* ガウシアンぼかし */
    backdrop-filter: blur(20px);
    padding: 3vw;
    max-width: 60vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-5vw, 5vh);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 2vh;
}

.media-icons {
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 7vw;
}

/*section02*/

.section-title {
    font-size: 3rem;
    margin-bottom: 10vh;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 30vw;
    margin-left: 2vw;
}

.content .image1 {
    position: relative;
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

.content .image1 img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 80%; */
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}
/* section3 */

.media-info {
    position: relative;
    width: 10vw;
    margin-left: -10vh;
    margin-top: -20vh;
}

.media-info li {
    list-style: none;
    font-size: 1.0em;
}

.media-info li a {
    text-decoration: none;
    color: #fff;
}

/* Linkedinだけスタイルに適用しない */
.media-info li:not(:last-child) {
    margin-bottom: 5vw;    
}

/* nth-child()...()内で指定したものにのみ適用する疑似クラス */
.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 30vw;
}

.media-info li:nth-child(3) {
    padding-left: 17vw;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 22.5vw;
}

.sec-03 {
    margin-bottom: 100vh;
}

.content .image2 {
    position: relative;
    width: 40vw;
    height: 80vh;
    overflow: hidden;
    margin-left: 55vw;
    margin-top: 10vh;
}

.content .image2 img {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 40vw;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

.footer {
    color: #fff;
}