@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* デフォルトでついている余白削除 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* グラデーション */
    background: linear-gradient(rgb(42, 98, 176),rgb(6, 4, 72));
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: rgb(228, 218, 218);
}

.container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4rem;
    margin-bottom: 50px;
}

.content {
    /* position: relative; */
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image0 {
    position: relative;
    margin-left: 5vw;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.content .image0 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

.content .text-box {
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    /* ガウシアンぼかし */
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

/*section02*/

.section-title {
    font-size: 3rem;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}
.content .image1 {
    /* 親要素が基準であることを示すrelative */
    position: relative; 
    margin-left: 5vw;
    width: 600px;
    height: 800px;
    overflow: hidden;
}

.content .image1 img {
    /* 親要素を基準とした子要素を示すabsolute */
    position: absolute;
    top: 10px;
    left: 2vw;
    width: 100px;
    height: 100px;
    zoom: 500%;
    /* object-fit: none; */
    object-position: 0 10%;
    object-fit: cover;
    border-radius: 2px;
    z-index: 10;
}

/* section3 */

.media-info {
    width: 400px;
    margin-left: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
}

.media-info li a {
    text-decoration: none;
    color: #fff;
}

/* Linkedinだけスタイルに適用しない */
.media-info li:not(:last-child) {
    margin-bottom: 50px;    
}

/* nth-child()...()内で指定したものにのみ適用する疑似クラス */
.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.sec-03 {
    margin-bottom: 100px;
}

.content .image2 {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;
}

.content .image2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

/* .frame {
    position: relative;

}

.frame.active {
    position: relative;
    right: 300px;
} */


.header {
    position: fixed;  
    top: 0;
    left: 45vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 400px;
    z-index: 1000;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.toggle {
    background: url("./images/menu.png");
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle.active {
    background: url("./images/close.png");
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
  top:0;
    right: -120%;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
    text-align: center;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #666;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  color:#fff;
  display: block;
  text-align: center;
}

#header{
  width:100%;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

#footer{
  background:#333;
  padding:20px;
}
